{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for result in results %}
    <div class="media">
        <img src="{{ result.song_image }}" class="mr-3 song" alt="missing" style="width: 100px; height: 100px;">
        <div class="media-body">
        <h5 class="mt-0"><a href="{{ url_for('songs.song_detail', song_id=result.song_id) }}">{{ result.song_name }}</a> ({{ result.song_primary_artist }})</h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
